In [1]:
a=10
b=10+0j
print a==b

True

In [3]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
some other statements in the program
some statements to end the program

In [2]:
10>20

False

In [4]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
else:
 print "10>20 is false"
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
10>20 is false
some other statements in the program
some statements to end the program

In [5]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"

print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
some other statements in the program
some statements to end the program

In [6]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
else:
print "some other statements in the program"
print "some statements to end the program"

IndentationError: expected an indented block (<ipython-input-6-bed956688445>, line 5)

In [7]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
else:
 
print "some other statements in the program"
print "some statements to end the program"

IndentationError: expected an indented block (<ipython-input-7-3228f9be2dbb>, line 6)

In [8]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
else:
 pass
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
some other statements in the program
some statements to end the program

In [9]:
print "some statements to starts the program"
if 10>20:
 print "10>20 is true"
else:
 pass
 print "else block"
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
else block
some other statements in the program
some statements to end the program

In [10]:
print "some statements to starts the program"
if 10>20:
    print "if block started"
    print "10>20 is true"
    print "if block ended"
else:
    print "else block"
    print "10>20 is false"
    print "else blcok ended"
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
else block
10>20 is false
else blcok ended
some other statements in the program
some statements to end the program

In [11]:
print "some statements to starts the program"
if 10>20:
    print "if block started"
    print "10>20 is true"
    print "if block ended"
else:
 print "else block"
 print "10>20 is false"
 print "else blcok ended"
print "some other statements in the program"
print "some statements to end the program"

some statements to starts the program
else block
10>20 is false
else blcok ended
some other statements in the program
some statements to end the program

In [12]:
print "some statements to starts the program"
if 10>20:
    print "if block started"
    print "10>20 is true"
print "if block ended"

some statements to starts the program
if block ended

In [13]:
print "some statements to starts the program"
if 10>20:
    print "if block started"
    print "10>20 is true"
print "if block ended"
else:
 print "else block"
 print "10>20 is false"
 print "else blcok ended"
print "some other statements in the program"
print "some statements to end the program"

SyntaxError: invalid syntax (<ipython-input-13-6c74ca163bda>, line 6)

In [14]:
print "some statements to starts the program"
if 10>20:
 print "if block started"
    print "10>20 is true"
    print "if block ended"
else:
 print "else block"
 print "10>20 is false"
 print "else blcok ended"
print "some other statements in the program"
print "some statements to end the program"

IndentationError: unexpected indent (<ipython-input-14-cf667f493e89>, line 4)

In [15]:
print "helo world"

helo world

In [16]:
print "hello
world "

SyntaxError: EOL while scanning string literal (<ipython-input-16-bcc3c185e0fa>, line 1)

In [17]:
print "hello \
world "

hello world

In [18]:
print """
    hello 
    world 
"""

    hello
    world

In [19]:
print """
    hello 
            world 
"""

    hello
            world

In [20]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name

Name: Anil

In [21]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [22]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name,", Age:",age,", Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [23]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name,",Age:",age,",Height:",height

Name: Anil ,Age: 23 ,Height: 5.6

In [24]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",","name,",Age:",age,",Height:",height

SyntaxError: invalid syntax (<ipython-input-24-631df12d110c>, line 5)

In [25]:
print "Name: name"

Name: name

In [26]:
print "Name:"name

SyntaxError: invalid syntax (<ipython-input-26-ee67461543c1>, line 1)

In [27]:
res="Name:"+name

In [28]:
res

'Name:Anil'

In [30]:
print res

Name:Anil

In [31]:
print "Name:"+name

Name:Anil

In [32]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name+", Age:",age+", Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name+", Age:"

 Name: Anil, Age:

In [36]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
'''
multi line startements
'''
print "Name:",name+", Age:",str(age)+", Height:",height

Name: Anil, Age: 23, Height: 5.6

In [35]:
a=10
b="product cost"
print a,b

10 product cost

In [37]:

a=14567
print hex(a)

0x38e7

In [38]:
# format specifiers
a=14567
print "%x",a

%x 14567

In [39]:
# format specifiers
a=14567
print "%x"%a

38e7

In [40]:
# format specifiers
a=14567
print "hexa decimal format: %x"%a

hexa decimal format: 38e7

In [41]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost: %f"%cost

Product cost: 23.456780

In [42]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost: %.2f"%cost

Product cost: 23.46

In [43]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost: %d"%cost

Product cost: 23

In [44]:
# %s, %d, %f
cost=23.45678
cost_int = int(cost)
# product cost: 23.46
print "Product cost:",cost_int

Product cost: 23

In [45]:
# %s, %d, %f
cost=23.45678
cost_int = int(cost)
# product cost: 23.46
print "Product cost:"+cost_int

TypeError: cannot concatenate 'str' and 'int' objects

In [46]:
# %s, %d, %f
cost=23.45678
cost_int = int(cost)
# product cost: 23.46
print "Product cost:"+str(cost_int)

Product cost:23

In [47]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost:%d"%cost

Product cost:23

In [48]:
print "Octal:%o"%12345

Octal:30071

In [49]:
a=12.34
print "product cost:"+str(a)

product cost:12.34

In [50]:
a=12.34
print "product cost:%s"%a

product cost:12.34

In [51]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
'''
multi line startements
'''
print "Name:",name+", Age:",str(age)+", Height:",height
print "Name: %s, Age: %s, Height: %s"%(name, age, height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [52]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
'''
multi line startements
'''
print "Name:",name+", Age:",str(age)+", Height:",height
print "Name: %s, Age: %s, Height: %s"%(name, height, age)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 5.6, Height: 23

In [53]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost:%d"%cost

Product cost:23

In [54]:
# %s, %d, %f
cost=23.45678
# product cost: 23.46
print "Product cost:%5d"%cost

Product cost:   23

In [55]:
print "line1"
print "line2"

line1
line2

In [56]:
print "line1\nline2"

line1
line2

In [57]:
print "line1\nline2\t tabspace"

line1
line2	 tabspace

In [58]:
print "line1\\nline2\\ttabspace"

line1\nline2\ttabspace

In [59]:
print r'sdkfjsdf\nsdfsd\tdfjfjks\nsdfsf\tsdfsf'

sdkfjsdf\nsdfsd\tdfjfjks\nsdfsf\tsdfsf

In [60]:
# it's a cool day
print "it's a cool day"

it's a cool day

In [61]:
# it's a cool day
print 'it's a cool day'

SyntaxError: invalid syntax (<ipython-input-61-c92531e46ab5>, line 2)

In [62]:
# it's a cool day
print 'it\'s a cool day'

it's a cool day

In [63]:
# it's a cool day
print r'it's a cool day'

SyntaxError: invalid syntax (<ipython-input-63-a1c4612fff93>, line 2)

In [64]:
print """
   1
2 4 5 6
    8
9 10 11 12
"""

   1
2 4 5 6
    8
9 10 11 12

In [65]:
print "\
   1\
2 4 5 6\
    8\
9 10 11 12\
"

   12 4 5 6    89 10 11 12

In [66]:
print "\n\
   1\n\
2 4 5 6\n\
    8\
9 10 11 12\n\
"

   1
2 4 5 6
    89 10 11 12

In [67]:
"""
Mobile os:
    1.Android
    2.ios
    3.windows
"""
print

In [68]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"

Mobile os:
	1.Android
	2.ios
	3.windows

In [69]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
print opt

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:1
1

In [70]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
if opt==1:
    print "Selected andriod"
    print "info for android"
if opt==2:
    print "Selected ios"
    print "info for ios"
if opt==3:
    print "Selected windows"
    print "info for windows"

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:1

In [71]:
"1"==1

False

In [72]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
if opt=="1":
    print "Selected andriod"
    print "info for android"
if opt=="2":
    print "Selected ios"
    print "info for ios"
if opt=="3":
    print "Selected windows"
    print "info for windows"

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:1
Selected andriod
info for android

In [73]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
if opt=="1":
    print "Selected andriod"
    print "info for android"
if opt=="2":
    print "Selected ios"
    print "info for ios"
if opt=="3":
    print "Selected windows"
    print "info for windows"

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:2
Selected ios
info for ios

In [74]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
if opt=="1":
    print "Selected andriod"
    print "info for android"
if opt=="2":
    print "Selected ios"
    print "info for ios"
if opt=="3":
    print "Selected windows"
    print "info for windows"

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:3
Selected windows
info for windows

In [75]:
print "Mobile os:\n\t1.Android\n\t2.ios\n\t3.windows"
opt=raw_input("enter an option:")
if opt=="1":
    print "Selected andriod"
    print "info for android"
if opt=="2":
    print "Selected ios"
    print "info for ios"
if opt=="3":
    print "Selected windows"
    print "info for windows"

Mobile os:
	1.Android
	2.ios
	3.windows
enter an option:4

In [1]:
l=[1,2,3,1,2,3,1,2,3,1,2,3,1,2,3]

In [2]:
i=l.index(1)

In [3]:
i

0

In [5]:
j=l.index(1,i+1)

In [6]:
j

3

In [8]:
l.index(1,j+1)

6