In [1]:
f=open('data.csv','w')

In [2]:
f.write("id,name,sal")

In [3]:
f.close()

In [4]:
f.write("1,name1,1234656")

ValueError: I/O operation on closed file

In [5]:
f=open('data.csv','w')

In [6]:
f=open('data.csv','w')
f.write("id,name,sal")
f.write("\n1,name1,1242353")
f.close()

In [7]:
persons = ["1,name1,123456","2,name2,23423424"]
f=open('data.csv','w')
f.write("id,name,sal")
f.writelines(persons)
f.close()

In [8]:
persons = ["id,name,sal","\n1,name1,123456","\n2,name2,23423424"]
f=open('data.csv','w')
f.write(persons)
f.close()

TypeError: expected a string or other character buffer object

In [9]:
persons = ["id,name,sal","\n1,name1,123456","\n2,name2,23423424"]
f=open('data.csv','w')
data = "".join(persons)
f.write(data)
f.close()

In [10]:
persons = ["id,name,sal","\n1,name1,123456","\n2,name2,23423424"]
f=open('data.csv','w')
data = "".join(persons)
f.write(data)
f.flush()
f.write("\n3,name3,233432454")

In [11]:
f.close()

In [12]:
f=open("data.csv",'a')
f.write("\n4,name4,4365464564")
f.close()

In [13]:
f=open('data1.csv','r')

IOError: [Errno 2] No such file or directory: 'data1.csv'

In [14]:
f=open('data.csv','r')
data=f.read()

In [15]:
print data

id,name,sal
1,name1,123456
2,name2,23423424
3,name3,233432454
4,name4,4365464564

In [16]:
f=open('data.csv','a')
p_id=raw_input("Enter id:")
p_name=raw_input("Enter name:")
p_sal=raw_input("Enter salary:")
res=""
if p_id.isdigit() and p_name.isalpha() and p_sal.isdigit():
    res=res+"\n%s,%s,%s"%(p_id,p_name,p_sal)
    f.write(res)
    f.close()
else:
    print "please enter valid data"

Enter id:12
Enter name:anil
Enter salary:3242354

In [17]:
f=open('data.csv','a')
p_id=raw_input("Enter id:")
p_name=raw_input("Enter name:")
p_sal=raw_input("Enter salary:")
res=""
if p_id.isdigit() and p_name.isalpha() and p_sal.isdigit():
    res=res+"\n%s,%s,%s"%(p_id,p_name,p_sal)
    f.write(res)
    f.close()
    print "inserted successfully"
else:
    print "insert failed"
    print "please enter valid data"

Enter id:12
Enter name:name123
Enter salary:345345
insert failed
please enter valid data

In [18]:
f=open('data.xlsx','a')
f.write("id,name,sal")
p_id=raw_input("Enter id:")
p_name=raw_input("Enter name:")
p_sal=raw_input("Enter salary:")
res=""
if p_id.isdigit() and p_name.isalpha() and p_sal.isdigit():
    res=res+"\n%s,%s,%s"%(p_id,p_name,p_sal)
    f.write(res)
    f.close()
    print "inserted successfully"
else:
    print "insert failed"
    print "please enter valid data"

Enter id:12
Enter name:ertete
Enter salary:34534534
inserted successfully

In [19]:
f=open("data.csv",'r')
data=f.read()

In [20]:
data

'id,name,sal\n1,name1,123456\n2,name2,23423424\n3,name3,233432454\n4,name4,4365464564\n12,anil,3242354'

In [21]:
print data

id,name,sal
1,name1,123456
2,name2,23423424
3,name3,233432454
4,name4,4365464564
12,anil,3242354

In [22]:
type(data)

str

In [23]:
for i in data:
    print i
    break

i

In [24]:
rows=data.split('\n')
for row in rows:
    print row
    break

id,name,sal

In [25]:
import pandas as pd

In [26]:
data=pd.read_csv('data.csv')
print data[data.sal==max(data.sal)]

   id   name         sal
3   4  name4  4365464564